.nav-top{
    background-color: #00234d;
}
.footer-menu-item > a {
    color: #d5d5d5;
    text-decoration: none;
}

.footer-bottom {
    border-top: 2px solid #a1b2c4;
}
a{
    text-decoration: none;
}